 .projectItem, .projectItem .content, .projectItem .overlay {
  border-radius: 16px;
}
.projectItem {
  --icon-size: 40px;

  padding-bottom: 100%;
  border-width: 2px;
}
.projectItem .content svg {
  width: var(--icon-size);
  height: var(--icon-size);

  transition: all 0.2s;
}
.projectItem .content span {
  width: 100%;
  font-size: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;

  transition: all 0.2s;
}

.projectItem:hover {
  transform: translateY(-6px);
  border: 0px;
}

.projectItem .overlay {
  height: 50px;
  visibility: hidden;
}
.projectItem .overlay span {
  font-size: 0px !important;
}
.projectItem:hover .overlay {
  visibility: initial;
  height: 100% !important;
  background-color: var(--active-color) !important;
  font-size: initial !important;
}
.projectItem:hover .overlay span {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}