@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

section#project {
  animation: fade 0.2s infinite;
  animation-iteration-count: 1;
}
section#project > header {
  border-radius: 8px 8px 0px 0px;
}

section#project > header a svg {
  transition: all 0.2s;
}

section#project > header a:hover svg {
  color: #a143b4 !important;
  transform: scale(1.2);
}
section#project > header div#logo {
  background-color: #a143b4;
}
section#project aside.taskList table tbody tr:last-child {
  border-radius: 2px 0px 0px 2px;
}